<!DOCTYPE html>
<html lang="en" xml:th="https://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>List rooms</title>
</head>
<body>
<h1>Create room form</h1>
<button>
    <a th:href="@{/rooms}">Back to list</a>
</button>
<div>
    <form action="/rooms/create" method="post" th:object="${room}">
        <input type="text" th:field="*{name}" placeholder="Name..."> <br>
        <input type="text" th:field="*{detail}" placeholder="Details...">
        <br> <input type="text" th:field="*{status}" placeholder="Status..."> <br>
        <input type="text" th:field="*{price}" placeholder="Price..."> <br>
        <select th:field="*{numberOfPerson}">
            <option value="" selected>Choose type</option>
            <option value="con phong" selected>Con phong</option>
            <option value="het phong" selected>Het phong</option>
        </select><br>
        <input type="text" th:field="*{numberBed}" placeholder="Number of beds...">
        </br>
        <button type="submit">Create</button>
    </form>
</div>
</body>
</html>